.submit-btn {
  border: 2px solid var(--border);
  background-color: var(--bgHeader);
  padding: 3px 20px;
  font-weight: bold;
  border-radius: 10px;
  color: var(--subtitle);
  text-align: center;
  opacity: 0.8;
}
.submit-btn:hover{
  color: var(--subtitle);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    border-color: var(--blue);
    box-shadow: 0px 0px 5px var(--blue) inset;
    opacity: 1;
}
.input{
  background-color: rgb(63, 63, 70,0.17);
  transition: 0.5s;
  border: 1px solid var(--border);
  border-radius: 1rem;
  color: var(--subtitle);
  padding-left: 1rem;
}
.input:hover {
  background-color: var(--bgHeader);
  border: 1px solid var(--blue);
  transition: 0.3s;
}
.input:focus {
  background-color: var(--bgHeader);
  border: 1px solid var(--blue);
  transition: 0.3s;
}
section .title{
  color: var(--title);
}
section .sub-title{
  color: var(--subtitle);
}
section form label{ 
  color: var(--subtitle);
}