/* ============== */
/* left section styles=======================buttons================================= */
/* =============== */


main section.left-section .buttons{
  border: 1px solid var(--border);
  background-color: var(--bgHeader);
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  opacity: 0.6;
  width: 7rem;
  color: var(--subtitle);
  transition: 0.5s;
}
main section.left-section .buttons:hover{
  color: var(--subtitle);
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  border-color: var(--blue);
  box-shadow: 0px 0px 5px  var(--blue) inset;
  opacity: 1;
}
article .title{
  color: var(--title);
}
article .sub-title{
  color: var(--subtitle);
}










/* ============== */
/* right section styles=======================cards================================= */
/* =============== */


main section.right-section{
  flex-grow: 1;
}

.icons{
  color:var(--title);
}
.icons:hover {
  color: var(--blue);
  cursor: pointer;
  transition: 0.3s;
}
.card:hover{
  rotate: 1deg;
  transition: 0.5s;
  scale: 1.01;
}
.card{
  transition: 0.5s;
  background-color: var(--bgHeader);
  border: 3px solid var(--border);
  padding: 0.2px;
  box-shadow: 3px 1px 20px 5px var(--border) ;
}
















@media (max-width:600px) {
  main.flex{
    flex-direction: column;
    justify-content: center;
  }
  main .left-section{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0%;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
        main section.left-section .buttons {
          border: 1px solid var(--border);
          background-color: var(--bgHeader);
          padding: 10px auto;
          font-weight: bold;
          border-radius: 10px;
          color: var(--subtitle);
          text-align: center;
          opacity: 0.8;
          width: 100px;
          
        }
}
